# Ignore all files in this folder
__pycache__/
venv
postgres-data
.vscode
.DS_Store
.idea
*.conf.sample
docker/nginx/*.pem
docker/nginx/*location.conf
docker/nginx/*server.conf
docker/nginx/ssl.conf
docker/nginx/dhparams.pem
docker/nginx/resolver.conf
docker/nginx/worker_processes.conf
docker/nginx/proxy.conf
docker/nginx/proxy-consf
docker/nginx/site-confs
docker/nginx/nginx.conf
*.pyc
__pycache__
**/__pycache__/
.vercel
