version: "3.8"

services:
  nginx:
      image: linuxserver/swag
      cap_add:
        - NET_ADMIN
      ports:
        - "80:80"
        - "443:443"
      volumes:
        - ./nginx:/config/nginx
        - ./nginx/subdomain:/config/nginx/subdomain
      environment:
        PUID: 1003
        PGID: 1003
        TZ: Asia/Jakarta
        URL: aluesagd.com
        VALIDATION: http
        SUBDOMAINS: api-visitorms, dashboard-vms
        ONLY_SUBDOMAINS: true
        restart: unless-stopped

  postgres:
    image: postgres:13-alpine
    environment:
      TZ: Asia/Jakarta
      POSTGRES_USER: visitorapp
      POSTGRES_PASSWORD: visitorapp1
      POSTGRES_DB: visitorapp
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

  pgbouncer:
    image: edoburu/pgbouncer
    environment:
      DB_USER: visitorapp
      DB_PASSWORD: visitorapp1
      DB_HOST: postgres
      DB_NAME: visitorapp
    depends_on:
      - postgres
    restart: unless-stopped
    ports:
      - :5432

  dashboard:
    image: visitorms-dashboard
    depends_on:
      - app
    environment:
      REACT_APP_API_URL: api-visitorms.aluesagd.com
      TZ: Asia/Jakarta
    restart: unless-stopped
    ports:
      - 8081:80

  app:
    image: visitorappimage
    depends_on:
      - postgres
      - pgbouncer
    environment:
      TZ: Asia/Jakarta
    volumes:
      - ./../.env:/app/.env
    command: ["uvicorn", "main:app", "--host", "0.0.0.0", "--port", "80"]
    ports:
      - 8080:80
    restart: unless-stopped

  migration:
    image: visitorappimage
    depends_on:
      - postgres
      - pgbouncer
    volumes:
      - ./../.env:/app/.env
    environment:
      TZ: Asia/Jakarta
    command: ["alembic", "upgrade", "head"]
    restart: on-failure

volumes:
  postgres_data:
    driver: local
